@import "bootstrap";

.header-background {
    background: url('https://media.istockphoto.com/id/578556350/photo/brown-paper-background.jpg?s=612x612&w=0&k=20&c=shGY1WoScBLeFqpV-NLmGJVjox9fuja7U6EdtvwQsk0=');
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;   
}

a:hover {
    color: grey;
}

.footer-styling {
    font-family: 'Lato', sans-serif;
    font-size: 15px;   
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-fluid {
    padding: 0 !important;
    list-style: none;
  }
  
.homepage {
    color: white;
}

.motto {
    font-size: 2rem;
    text-align: center;
    font-family: 'Courgette', sans-serif;
    @import url('https://fonts.googleapis.com/css?family=Courgette');
    padding-top: 12px;
}

.company-name {
    font-size: 5rem;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'Ramabhadra', sans-serif;
    @import url('https://fonts.googleapis.com/css?family=Ramabhadra');
}

.company-info {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 12px;
    font-family: 'Lato', sans-serif;
}

.home-buttons-space {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
}

.home-buttons {
    background-color: white;
    color: burlywood;
}